@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
	--orange: #EB5E28;
	--black: #252422;
	--darkgrey: #403d39;
	--lightgrey: #ccc5b9;
	--white: #fffcf2;

}

ul li{
	list-style: none;
}

body{
	margin: 0;
	padding: 0;

	font-family: 'Poppins', sans-serif;

	display: grid;
	grid-template: 1fr 12fr / 1fr 3.5fr;
}

.sidebar{
	grid-row: 1 / 3;
	background-color: var(--orange);

	color: white;
	display: grid;
	grid-template: 100px 400px / 100px 200px;

	>img{
		width: 60px;
		justify-self: center;
		align-self: center;
	}

	h2{
		justify-self: start;
		align-self: center;
		font-size: 28px;
	}

	ul{
		grid-column: 1/3;

		font-size: 20px;
		line-height: 50px;

		img{
			width: 20px;
			margin-right: 20px;
			margin-bottom: -3px;
		}

		li:nth-child(6){
			margin-bottom: 100px;
		}
	}
}

.nav-1{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 20px;

	img:nth-child(1){
		width: 18px;
		height: 18px;
	}

	img:nth-child(3){
		width: 24px;
	}

	img:nth-child(4){
		width: 50px;
		height: 50px;
	}

	input{
		background-color: #E2E7F1;
		border: none;
		border-left: 10px solid #E2E7F1;
		height: 30px;
		width: 35vw;
		margin-right: 6vw;
		border-radius: 15px;
		font-size: 20px;

	}
	input:focus{
		outline: 2px solid var(--orange);

	}
	span{
		font-size: 18px;
		font-weight: 500;
	}
}

.nav-2{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	img{
		width: 80px;
	}

	p{
		margin-bottom: -20px;
		font-weight: 500;
	}

	.name-wrapper{
		margin-right: 10vw;
	}

	button{
		background-color: var(--orange);
		border: none;
		color: white;
		font-size: 16px;
		padding: 10px 30px;
		border-radius: 20px;
		font-weight: 500;
	}

	h2{
		font-weight: 600;
	}
}

.content{
	background-color: #E2E7F1;
	padding: 20px;

	display: grid;
	grid-template-rows: 600px 1fr;
	grid-template-columns: 3fr 1.3fr;

	h2{
		font-size: 24px;
		font-weight: 600;
		color: #3a3a3a;
	}

}

.trending{
	grid-column: 2/3;
}

.projects{
	grid-row: 1/3;
}

.projects-grid{

	display: grid;
	gap: 30px;
	grid-template-columns: repeat(2, .47fr);
	grid-template-rows: repeat(3, 1fr);

	div{
		background-color: white;
		border-left: 15px solid var(--orange);
		border-radius: 10px;

		padding: 20px;
	}
}

.announcements{
	>div{
		min-height: 380px;
		background-color: white;
		padding: 40px;
		border-radius: 15px;

		h3{
			margin-bottom: -10px;
		}

		hr{
			background-color: #E2E7F1;
			opacity: 70%;
		}
	}
}