@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --orange: #EB5E28;
  --blue: #0084ff;
  --black: #252422;
  --darkgrey: #403d39;
  --lightgrey: #ccc5b9;
  --white: #fffcf2;
}

ul li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 12fr;
  -ms-grid-columns: 1fr 3.5fr;
      grid-template: 1fr 12fr / 1fr 3.5fr;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-color: var(--blue);
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 400px;
  -ms-grid-columns: 100px 200px;
      grid-template: 100px 400px / 100px 200px;
}

.sidebar > img {
  width: 60px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sidebar h2 {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 28px;
}

.sidebar ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 20px;
  line-height: 50px;
}

.sidebar ul img {
  width: 20px;
  margin-right: 20px;
  margin-bottom: -3px;
}

.sidebar ul li:nth-child(6) {
  margin-bottom: 100px;
}

.nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 20px;
}

.nav-1 img:nth-child(1) {
  width: 18px;
  height: 18px;
}

.nav-1 img:nth-child(3) {
  width: 24px;
}

.nav-1 img:nth-child(4) {
  width: 50px;
  height: 50px;
}

.nav-1 input {
  background-color: #E2E7F1;
  border: none;
  border-left: 10px solid #E2E7F1;
  height: 30px;
  width: 35vw;
  margin-right: 6vw;
  border-radius: 15px;
  font-size: 20px;
}

.nav-1 input:focus {
  outline: 2px solid var(--blue);
}

.nav-1 span {
  font-size: 18px;
  font-weight: 500;
}

.nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav-2 img {
  width: 80px;
}

.nav-2 p {
  margin-bottom: -20px;
  font-weight: 500;
}

.nav-2 .name-wrapper {
  margin-right: 10vw;
}

.nav-2 button {
  background-color: var(--blue);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 500;
}

.nav-2 h2 {
  font-weight: 600;
}

.content {
  margin-top: 10px;
  background-color: #E2E7F1;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 550px 1fr;
      grid-template-rows: 550px 1fr;
  -ms-grid-columns: 3fr 1.3fr;
      grid-template-columns: 3fr 1.3fr;
}

.content h2 {
  font-size: 24px;
  font-weight: 600;
  color: #3a3a3a;
}

.trending {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.projects {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (0.47fr)[2];
      grid-template-columns: repeat(2, 0.47fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.projects-grid div {
  background-color: white;
  border-left: 15px solid var(--blue);
  border-radius: 10px;
  min-height: 263px;
  padding: 20px;
}

.announcements-card,
.trending-card {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

.announcements h3 {
  margin-bottom: -10px;
}

.announcements hr {
  background-color: #E2E7F1;
  opacity: 70%;
}

.trending img {
  width: 60px;
  display: inline;
}

.trending h3 {
  font-weight: 500;
  font-size: 18px;
}

.trending-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: (50px)[8];
      grid-template-rows: repeat(8, 50px);
  padding: 10px 30px;
}

.trending-card img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trending-card h3 {
  margin-bottom: -4px;
}

.trending-card p {
  margin-top: -4px;
}

.trending-card img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.trending-card img:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.trending-card img:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

.trending-card img:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
}
/*# sourceMappingURL=style.css.map */